<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Min Spring Musik database</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>

<h1 class="center">My Goat Album List</h1>
<div>
<a class="center" href="/AddAlbum"> <button> Add album</button> </a>
<table >
    <thead>
    <tr>
        <th>Album ID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Release Year</th>
        <th>Label</th>
        <th>Tracks</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
        <td th:text="${album.album_id}"></td>
        <td th:text="${album.title}"></td>
        <td th:text="${album.kunstner_name}"></td> <!-- Display the artist name -->
        <td th:text="${album.release_year}"></td>
        <td th:text="${album.pladeselskab}"></td>

        <!-- Loop through the tracks of each album -->
        <td>
            <ul>
                <li th:each="track : ${album.tracks}" th:text="${track.title}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>