<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Min Spring Musik database</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>

<h1 class="center">Min Goat Album Liste</h1>
<div>
    <div class="center">
<a  href="/AddAlbum"> <button> Tilføj album</button> </a>
    <a href="/AddArtist"> <button> Tilføj artist</button> </a>
    <a href="/AddTrack"> <button> Tilføj tracks</button> </a>
    </div> <br>
<table >
    <thead>
    <tr>

        <th>Titel</th>
        <th>Artist</th>
        <th>Udgivelsesår</th>
        <th>Pladeselskab</th>
        <th>Yndlings numre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">

        <td th:text="${album.title}"></td>
        <td th:text="${album.kunstner_name}"></td>
        <td th:text="${album.release_year}"></td>
        <td th:text="${album.pladeselskab}"></td>


        <td>
            <ul>
                <li th:each="track : ${album.tracks}" th:text="${track.title}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</div> <br>

<div class="center">
    <a  href="/DeleteAlbum"> <button> Slet et album</button> </a>
    <a  href="/UpdateAlbum"> <button> Opdater et album</button> </a>
    <a  href="/DeleteTrack"> <button> Slet et track</button> </a>
</div>

<div class="center">

</div>

</body>
</html>
